body {
    text-align: center;
    background-color: #628B99;
}
input {
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 5px;
}

#navigationContainer {
  height: 75px;
  width: 100%;
  text-align:center;
}

.navButtons {
  width: 200px;
  height: 50px;
  margin: 10px;
  display:inline-block;
}

.text {
    color: #EBEBEB;
}

#textContainer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px;
}

#messageContainer {
    height: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#messageSpan {
    display: none;
}
#inputContainer, #buttonContainer {
    padding: 5px;
}

input::-webkit-input-placeholder {
 color: #A9AFB0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
}

input:-moz-placeholder {
 color: red
}
input::-moz-placeholder {
 color: red
}
input:-ms-input-placeholder {
 color: red
}

.style-1 input {
  background-color: transparent;
  padding: 10px;
  border:none;
  border-bottom: solid 2px #EBEBEB;
  color: #EBEBEB;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

}



.style-1 input:focus {
  outline: none;
  border:none;
  border-bottom: solid 2px #8AACB8;
}

.but {
  width: 170px;
  background-color: transparent;
  border-style: solid;
  border-color: #EBEBEB;
  border-width: 2px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #DAE5E8;
  font-size: 18px;
}
